*{
  padding: 0;
  margin: 0;
}

.main {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width: 480px;
  height: 600px;
}

.form {
  padding: 30px 0px 0px 0px;
  
}
